<a href="https://colab.research.google.com/github/AriGochi/Tareas-POO/blob/main/lunesPOO.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Esto es un comentario
print("Hola Mundo") # Esto imprime "Hola Mundo"

Hola Mundo

In [ ]:
!ls -a

.  ..  .config	sample_data

In [ ]:
"""
holaaaaaa
holaaa
"""

'\nholaaaaaa\nholaaa\n'

In [ ]:
print("Hola", "Mundo")
 
print("Hola" + "Mundo")
 
print("Hola", "Mundo", sep="-") # Imprime: Hola-Mundo
 
print("Hola", end="")
print("Mundo") # Imprime: HolaMundo

Hola Mundo
HolaMundo
Hola-Mundo
HolaMundo

In [ ]:
nombre = "José"
carrera = "ICO, la mejor"
print("Mi nombre es {} y estudio {} en la FES Aragón".format(nombre, carrera))

Mi nombre es José y estudio ICO, la mejor en la FES Aragón

In [ ]:
nombre = "José"
carrera = "ICO, la mejor"
print(f"Mi nombre es { nombre} y estudio { carrera } en la FES Aragón")

Mi nombre es José y estudio ICO, la mejor en la FES Aragón

In [ ]:
"""
este es
Naciones Unidas 
comentario de
línea múltiple
"""

'\neste es\nNaciones Unidas \ncomentario de\nlínea múltiple\n'

In [ ]:
# Operadores aritmeticos
suma = 5 + 3 # 8
resto = 5 - 3 # 2
producto = 5 * 3 # 15
división = 5 / 3 # 1.66667
división2 = 5 // 3 # 1
módulo = 5 % 3 # 2
potencia = 5 ** 3 # 125

In [ ]:
saludo = "Hola Mundo"
cita = 'Los alumnos del ICO dicen: "Hola Mundo"'
parrafo = """Esto es un parrafo
que abarca varias
lineas"""

In [ ]:
#entrada por teclado
nombre = input("Por favor, introduce tu nombre: ")
print(f"Hola {nombre}!")

Por favor, introduce tu nombre: Ari
Hola Ari!

In [ ]:
numero = int (30)
print (numero)

30

In [ ]:
edad = int(input("Presenta tu edad:"))
print(f"{nombre} tiene {edad} años")

Presenta tu edad:19
Ari tiene 19 años

In [ ]:
mensaje = "Hola Mundo" # String
edad = 20 # Entero
pi = 3.14159 # Flotante
es_mayor = True # Booleano
imaginario = 3 + 4j # imaginario

In [ ]:
frutas = ['limon','aguacate','fresa']
print ( frutas [2])

fresa

In [ ]:
cosas = [ 'fresa', 10, 3.1416, True, [1,2,3,4], 'Hola']
print (cosas)

['fresa', 10, 3.1416, True, [1, 2, 3, 4], 'Hola']

In [ ]:
ejemplo = [ 1,2,3,4,5,6, 'a','b','c','d','e']
print (ejemplo)

[1, 2, 3, 4, 5, 6, 'a', 'b', 'c', 'd', 'e']

In [ ]:
rebanada = ejemplo [2:6:1]
print (rebanada)

[3, 4, 5, 6]

In [ ]:
rebanada = ejemplo [6:9:1]
print (rebanada)

['a', 'b', 'c']

In [ ]:
frutas_dos = ('aguacate', 'limon','naranja')
print (frutas)
print (frutas_dos)

frutas [1] = 'Piña'
#frutas_dos [1] = 'Piña'

print (frutas [1])
print (frutas_dos [1])

print (frutas_dos [1:2:3])
print (frutas_dos [1])

['limon', 'Piña', 'fresa']
('aguacate', 'limon', 'naranja')
Piña
limon
('limon',)
limon

In [ ]:
alumno = {'numero_cuenta' : 1232322 , 'carrera' : 'ICO' ,
            'direccion' : {'calle' : 'rancho seco', 'numero' : 23}
          }
print (alumno ['direccion'])

print(alumno['direccion']['numero'])

print(alumno['direccion']['calle'][3:6:1])

{'calle': 'rancho seco', 'numero': 23}
23
cho